@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-Regular.ttf"); }
@font-face {
  font-family: "rubik";
  font-style: italic;
  src: url("../fonts/Rubik-Italic.ttf"); }
@font-face {
  font-family: "rubik";
  font-weight: bold;
  src: url("../fonts/Rubik-Bold.ttf"); }
@font-face {
  font-family: "rubik";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Rubik-BoldItalic.ttf"); }
@font-face {
  font-family: "fira-mono";
  src: url("../fonts/FiraMono-Regular.otf"); }
@font-face {
  font-family: "fira-mono";
  font-weight: bold;
  src: url("../fonts/FiraMono-Bold.otf"); }
/* FUNCTIONS */
a {
  color: #485B73;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    color: #485B73;
    opacity: 0.5; }

.btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: "rubik", Times, serif;
  border-radius: 0;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn:hover, .btn:focus {
    color: #333333;
    background: #F5F5F5;
    outline: 0; }
  .btn:active {
    color: #333333;
    background: #CCCCCC; }
  .btn.big {
    font-size: 1.25rem;
    padding: 0.66667rem 1.125rem 0.66667rem 1.125rem; }
  .btn.small {
    font-size: 0.75019rem;
    padding: 0.4rem 0.66667rem 0.4rem 0.66667rem; }
  .btn.validate {
    background: #1ACC58;
    border: 0;
    color: #FFFFFF; }
    .btn.validate:hover, .btn.validate:focus {
      color: #FFFFFF;
      background: #b3d2a5;
      outline: 0; }
    .btn.validate:active {
      color: #FFFFFF;
      background: #74a467; }
  .btn.caution {
    background: #D44C57;
    border: 0;
    color: #FFFFFF; }
    .btn.caution:hover, .btn.caution:focus {
      color: #FFFFFF;
      background: #DC7580;
      outline: 0; }
    .btn.caution:active {
      color: #FFFFFF;
      background: #cd444d; }
  .btn.no-stroke {
    color: #74a5d8;
    border: 0;
    background: none; }
    .btn.no-stroke:hover, .btn.no-stroke:focus {
      color: #9DBADE;
      background: none;
      outline: 0; }
    .btn.no-stroke:active {
      color: #518ece;
      background: none; }
  .btn.icon {
    padding: 0.75002rem 1rem; }
    .btn.icon i {
      padding: 0 0.5rem 0 0; }
  .btn.no-text i {
    padding: 0; }
  .btn.disabled {
    opacity: 0.5;
    pointer-events: none; }

.form {
  text-align: center; }
  .form .form--wrapper {
    display: flex;
    margin-bottom: 1rem; }
    .form .form--wrapper label {
      width: 20%;
      display: block;
      float: left;
      text-align: right;
      margin-top: 0.66667rem;
      padding: 0 1rem;
      font-size: 0.75rem;
      color: #565656; }
    .form .form--wrapper input, .form .form--wrapper textarea, .form .form--wrapper select {
      width: 70%;
      display: block;
      padding: 0.5rem;
      background: #FFFFFF;
      font-size: 1rem;
      border: 1px solid #EFEFEF;
      border-radius: 3px;
      -webkit-transition: border-color 0.2s ease-in-out;
      -moz-transition: border-color 0.2s ease-in-out;
      -o-transition: border-color 0.2s ease-in-out;
      transition: border-color 0.2s ease-in-out; }
      .form .form--wrapper input:hover, .form .form--wrapper textarea:hover, .form .form--wrapper select:hover {
        border-color: #CCCCCC; }
      .form .form--wrapper input:focus, .form .form--wrapper textarea:focus, .form .form--wrapper select:focus {
        border-color: #323232;
        border-width: 1px;
        outline: none; }
    .form .form--wrapper select {
      background: transparent;
      -webkit-appearance: none;
      background: url(../assets/caret-down.svg) no-repeat 97% center; }

/*# sourceMappingURL=components.css.map */
