// @import 'normalize';
@import 'variables';
@import 'utils';

html, body{
	font-family: $serif;
	color: black;

	// background-image: url(../assets/rhythm.png);
}

// If a background needs to be applied on all width, independent from the .wrapper width
.container{
	width: 100%;

	.container-inner{
		margin: 0 auto;
		padding: $vRhythm*3 0 0 0;

	}
}

.wrapper {
    width: $totalWidth;
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    [class^="col-"]:last-child {
        padding-right: 0;
    }
}

// col-n is defined here
@for $i from 1 through $columns {
    $width: $i * (100/$columns);
    .col-#{$i} {
        width: unquote($width+'%');
        padding-right: $gutter;
    }
}

// span-n is defined here
@for $i from 1 through $columns {
    $width: $i * (100/$columns);
    .span-#{$i} {
        margin-left: unquote($width+'%');
    }
}

.last {
    padding-right: 0;
}




@media screen and (min-width: $break-small) and (max-width: $break-medium) {
	body{
		width: 100%;
	}
}

@media (max-width: $break-medium) {
    .wrapper {
        width: 85%;
        margin: 0 auto;
    }
    .row {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
    }
    @for $i from 1 through 8 {
        $left: $i * 12.5;
        .col-#{$i} {
            width: 100%;
        }
    }
    @for $i from 1 through 8 {
        $left: $i * 12.5;
        .span-#{$i} {
            margin-left: 0;
        }
    }
}
