@import 'variables';

html, body{
	font-family: $Lato;
	color: $colorTextDark;
	// background-image: url(../assets/rhythm.png);
}

.container{
	margin: $baseRem*2 auto;

	.container-inner{
		padding: $vRhythm;
	}
}

@media screen and (min-width: $break-small) {

	.container{
		width: 100%;
	}
}
@media screen and (min-width: $break-medium) {

	.container{
		width: 600px;
	}
}

@media screen and (min-width: $break-large) {

	.container{
		width: 600px;
	}
}
@media print {
	body{

	}
	.container{

	}
}
