@import 'variables';
@import 'utils';

a{
	color: $colorTextBlue;
	@include transition(all, $hoverSpeed, $hoverEase);
	&:hover{
		color: $colorTextBlue;
		opacity: 0.5;
	}
	&:active{}
	&:focus{}
}

// Buttons
.btn{
	padding: $baseRem/2 $baseRem $baseRem/2 $baseRem;
	text-decoration: none;
	font-size: $baseRem;
	font-family: $sansSerif;
	border-radius: 0;

	// default
	background: $colorWhite;
	border: 1px solid $colorTransparentGrey;
	color: $colorTextDark;

	@include transition(all, $hoverSpeed, $hoverEase);

	&:hover, &:focus{
		color: $colorTextDark;
		background: $colorTransparentGrey;
		outline: 0;
	}
	&:active{
		color: $colorTextDark;
		background: $colorLightGrey;

	}

	// Bigger
	&.big{
		font-size: $baseRem*1.25;
		padding: $baseRem/1.5 $baseRem*1.125 $baseRem/1.5 $baseRem*1.125;
	}
	// Smaller
	&.small{
		font-size: $baseRem/1.333;
		padding: $baseRem/2.5 $baseRem/1.5 $baseRem/2.5 $baseRem/1.5;
	}

	// Validation
	&.validate{
		background: $colorGreen;
		border: 0;
		color: $colorWhite;

		&:hover, &:focus{
			color: $colorWhite;
			background: $colorGreenLight;
			outline: 0;
		}
		&:active{
			color: $colorWhite;
			background: $colorGreenLow;
		}
	}

	// Caution
	&.caution{
		background: $colorRed;
		border: 0;
		color: $colorWhite;

		&:hover, &:focus{
			color: $colorWhite;
			background: $colorRedLight;
			outline: 0;
		}
		&:active{
			color: $colorWhite;
			background: $colorRedLow;
		}
	}

	// Without strokes
	&.no-stroke{
		color: $colorBlue;
		border: 0;
		background: none;

		&:hover, &:focus{
			color: $colorBlueLight;
			background: none;
			outline: 0;
		}
		&:active{
			color: $colorBlueLow;
			background: none;
		}
	}

	// Icon that is with a label
	&.icon{
		padding: $baseRem/1.3333 $baseRem;

		i{
			padding: 0 $baseRem/2 0 0;
		}
	}

	// Only the icon
	&.no-text{
		i{
			padding: 0;
		}
	}

	// Disabled
	&.disabled{
		opacity: 0.5;
		pointer-events: none;
	}
}


// Forms
.form{
	text-align: center;
	.form--wrapper{
		display: flex;
		// align-items: center;
		margin-bottom: $baseRem;

		label{
			width: 20%;
			display: block;
			float: left;
			text-align: right;
			margin-top: $baseRem/1.5;

			padding: 0 $baseRem;
			font-size: 0.75rem;
			color: $colorGrey;
		}

		input, textarea, select{
			width: 70%;
			display: block;
			padding: $baseRem/2;
			background: $colorWhite;

			font-size: $baseRem;

			border: 1px solid $colorLighterGrey;
			border-radius: 3px;

			@include transition(border-color, $hoverSpeed, $hoverEase);

			&:hover{
				border-color: $colorLightGrey;
			}
			&:focus{
				border-color: $colorGreyDark;
				border-width: 1px;
				outline: none;
			}
		}

		select{
			background: transparent;
			-webkit-appearance: none;

			background: url(../assets/caret-down.svg) no-repeat 97% center;
		}
	}
}
